@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

header {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: .7em 0;
}

.header-wrapper {
    display: flex;
    width: 1100px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
}

.links {
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 2em;
}

.link {
    font-size: 18px;
}

main {
    width: 100%;
    background: #1F2937;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    width: 1100px;
    padding: 120px 0;
}

.hero-text,
.hero-image {
    flex: 1;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-text {
    max-width: 50%;
    padding-right: 5em;
}


.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-cta {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    width: max-content;
    padding: 10px 35px;
    border-radius: 10px;
}

.hero-image {
    object-fit: cover;
}

.information {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
}

.info-image-wrapper {
    display: flex;
    gap: 2em;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 48px 0;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 175px;
    text-align: center;
    gap: .3em;
    color: #575757;
}

.img-wrapper > img {
    max-width: 175px;
    border:5px solid #3882F6;
    border-radius: 10px;
}

.quote {
    width: 100%;
    background-color: #e5e7e5;
    display: flex;
    justify-content: center;
}

.quote-wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 96px 150px;
    gap: 1em;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    padding-right: 25px;
}

.cto {
    width: 100%;
    display: flex;
    padding: 96px 0;
}

.cto-box {
    background-color: #3882F6;
    margin: auto;
    display: flex;
    align-items: center;
    width: 1100px;
    padding: 48px 96px;
    border-radius: 10px;
    color: #F9FAF8;
}

.cto-title {
    font-size: 24px;
    font-weight: 700;
}

.cto-button {
    margin-left: auto;
    margin-right: 48px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: .5em 2em;
    font-weight: 700;
}

footer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    padding: 48px 0;
}

.copyright {
    margin: auto;
    color: #F9FAF8;
}
